.m_navbar_con{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-y: auto;
    width: 100%;
}

.themeMode_header{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.themeMode_bar{
    background-color: #d3e3fdb2;
    border-radius: 2rem;
    padding: .35rem;
}

.mode_Barfill{
    display: flex;
    gap: .5rem;
}

.mode_active_lingt button{
    background-color: #fff;
    box-shadow: 0 0 4px 0 #00000026;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    gap: .375rem;
    padding: .6rem 1rem;
    font-size: .9rem;
    transition: 0.3s;
} 


.mode_Bar_Dark button{
    align-items: center;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    gap: .375rem;
    padding: .6rem 1rem;
    color: #444746;
    font-size: .9rem;
    background: none;
} 

/* main */
.mainmain{
    height: 100%;
}

.mainmain_Body{
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: space-between;
    padding: 0 1rem;
}

.main_tit{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main_tit_Head{
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    text-align: center;

    color: #444746;
    font-size: 5rem;
    line-height: normal;
    margin-bottom: 1.3rem;
}

.main_tit_sub{
    color: #8b8ba1;
    font-size: 1.3rem;
    letter-spacing: .6rem;
    line-height: 150%;
    margin: 0;

    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.main_body_bottom{
    margin: 0 auto;
}

.mainMenu_inner{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    transition: 0.3s;
    
}

.main-item_group{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
}

.main_item{
    border: 1px solid #c3c8cf;
    border-radius: 2rem;
    flex-basis: 40%;
    padding: .5rem;
    transition: 0.3s;
}

.main_item:hover {
    background-color: #c8c8d237;
}

.main_item_tit{
    position: relative;
    color: #444746;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: .4rem;
    left: .5rem;
}

.main_item_dp{
    position: relative;
    text-wrap: nowrap;
    color: #51525e;
    font-size: .8rem;
    line-height: normal;
    left: .6rem;
}

.main_input{
    margin: 0 auto;
    width: 47rem;
}

.main_input_inner{
    position: relative;
}

.main_input_box{
    background: #fff;
    border: 1px solid #c5c5cf;
    border-radius: 2rem;
    box-shadow: 0 0 8px 2px #0000001a;
    color: #8b8ba1;
    height: 3.5rem;
    width: 45rem;
    margin: 0 auto;
}

.main_input_type{
    color: #51525e;
    font-size: 1rem;
    left: 4rem;
    position: absolute;
    top: 1.1rem;
}

.main_input_icon{
    position: absolute;
    right: 4.5rem;
    top: .9rem;
}

.main_input_s {
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* footer */
footer{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 18px 0;
    top: 1rem;
}

.footer_p{
    color: #444746;
    font-family: Arial;
    font-size: .9rem;
}

.footer_strong{
    color: #5078b9;
    font-weight: 600;
}
